* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.kiosk-wrapper {
  background-color: #e9f3fd;
  background-size: contain;
  background-repeat: round;
  height: 100vh;
  width: 100vw;
}

.kiosk-wrapper .kiosk--content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-num-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -4px -4px 8px rgba(128, 128, 128, 0.1), 4px 4px 8px rgba(128, 128, 128, 0.1);
  min-width: 30%;
  display: flex;
  justify-content: center;
}

.get-num-content .btn-get-num:hover {
  background-color: #06427e;
}
.get-num-content .btn-get-num {
  background-color: #0854a0;
  width: 100%;
  height: 15rem;
  border-radius: 10px;
  width: 100%;
  height: 15rem;
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.get-num-content .btn-get-num > * {
  overflow: inherit;
}
